.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 800px;
	margin-left: auto;
	margin-right: auto;
}

#u69-5
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 316px;
	left: 50%;
	margin-left: -307px;
}

#u181
{
	z-index: 7;
	width: 297px;
	min-height: 243px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: fixed;
	top: 491px;
	left: 50%;
	margin-left: -149px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

