.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 800px;
	margin-left: auto;
	margin-right: auto;
}

#u237-6
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 251px;
	left: 50%;
	margin-left: -307px;
}

#u238
{
	z-index: 8;
	width: 297px;
	min-height: 243px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 425px;
	left: 50%;
	margin-left: -149px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

