.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 800px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -12px;
	margin-bottom: 62px;
}

#u206-6
{
	z-index: 3;
	display: block;
	vertical-align: top;
	margin-left: 0px;
	position: relative;
}

#u356
{
	z-index: 10;
	width: 921px;
	min-height: 87px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 19px;
	position: relative;
}

#u358
{
	z-index: 11;
	width: 601px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 59px;
	position: relative;
}

#u195
{
	z-index: 2;
	width: 920px;
	min-height: 376px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	position: relative;
}

#u354
{
	z-index: 9;
	width: 921px;
	min-height: 113px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 19px;
	margin-top: 1px;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

